<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bodyLanding">

    <div class="navbarLanding">

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/buy">Buy</a></li>
            <li><a href="/form">Add Fruit</a></li>
        </ul>
       
    </div>
    <div class="headerLanding">
      <h2 class="title">Fruits Tracing Web Application</h2>
      <p class="paragraphOne">It is a web based application that allows user to upload and buy the product <br>then generating QR code which provides location of fruits to the customer   </p>
    </div>



</body>
</html>